attrs==21.4.0
importlib-resources==5.4.0
iniconfig==1.1.1
kafka-python==2.0.2
packaging==21.3
pluggy==1.0.0
py==1.11.0
pydantic==1.9.0
pyparsing==3.0.7
pyrsistent==0.18.1
pytest==7.0.1
python-decouple==3.6
six==1.16.0
toml==0.10.2
tomli==2.0.1
typing-extensions==4.1.1
zipp==3.7.0
